.main-nav {
  background-color: beige;
}

.menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
  margin: 0;
}

ul.menu li {
  display: flex;
  align-items: center;
}
