.main-nav {
  background-color: beige;
}

.menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
  margin: 0;
  padding-left: 0;
}

ul.menu li {
  display: flex;
  align-items: center;
  flex-grow: 1;
  text-align: center;
}

ul.menu li a {
  width: 100%;
}

ul.menu li:last-child a {
  background-color: #ee1525;
  padding: 13% 0;
  margin: 0 auto;
  text-align: center;
  width: 68%;
  color: #fff;
  border-radius: 5px;
}
