.slide {
  position: absolute;
  width: 100%;
  height: calc(100vh - 131px);
  background-size: cover;
  z-index: 0;
  opacity: 0;
  transition: opacity 0.5s linear;
}

.active {
  opacity: 1;
  z-index: 1;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
}
